html {
    font-family: sans-serif;
    font-size: 1em;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
li {
    width: 100%;
    border: 1px solid lightgray;
}
.submit {
    margin: 0;
    border: 1px solid lightgray;
    text-align: center;
    padding: 5px;
}
button {
    background-color: lightgreen;
    font-size: 1em;
}